NodeRed_socket.json
[
    {
        "id": "7324634f.d6ce8c",
        "type": "tab",
        "label": "Modbus轉web socket",
        "disabled": false,
        "info": ""
    },
    {
        "id": "977587e2.774008",
        "type": "modbus-TCP-RTU-commander",
        "z": "7324634f.d6ce8c",
        "name": "Modbus(221)",
        "server": "5c5132bc.fbaf6c",
        "repeat": "once",
        "delay": "0",
        "requestpools": [
            {
                "fc": "3",
                "addr": "1",
                "qty": "100",
                "unitid": "1",
                "label": "HR_0001"
            },
            {
                "fc": "3",
                "addr": "101",
                "qty": "100",
                "unitid": "1",
                "label": "HR_0101"
            },
            {
                "fc": "3",
                "addr": "201",
                "qty": "100",
                "unitid": "1",
                "label": "HR_0201"
            },
            {
                "fc": "3",
                "addr": "301",
                "qty": "100",
                "unitid": "1",
                "label": "HR_0301"
            },
            {
                "fc": "3",
                "addr": "401",
                "qty": "100",
                "unitid": "1",
                "label": "HR_0401"
            },
            {
                "fc": "3",
                "addr": "501",
                "qty": "100",
                "unitid": "1",
                "label": "HR_0501"
            },
            {
                "fc": "3",
                "addr": "601",
                "qty": "100",
                "unitid": "1",
                "label": "HR_0601"
            },
            {
                "fc": "3",
                "addr": "1001",
                "qty": "100",
                "unitid": "1",
                "label": "HR_1001"
            },
            {
                "fc": "3",
                "addr": "1101",
                "qty": "100",
                "unitid": "1",
                "label": "HR_1101"
            },
            {
                "fc": "3",
                "addr": "2001",
                "qty": "100",
                "unitid": "1",
                "label": "HR_2001"
            },
            {
                "fc": "3",
                "addr": "2101",
                "qty": "100",
                "unitid": "1",
                "label": "HR_2101"
            },
            {
                "fc": "3",
                "addr": "2201",
                "qty": "100",
                "unitid": "1",
                "label": "HR_2201"
            },
            {
                "fc": "3",
                "addr": "3001",
                "qty": "100",
                "unitid": "1",
                "label": "HR_3001"
            },
            {
                "fc": "3",
                "addr": "3101",
                "qty": "100",
                "unitid": "1",
                "label": "HR_3101"
            },
            {
                "fc": "3",
                "addr": "3201",
                "qty": "100",
                "unitid": "1",
                "label": "HR_3201"
            },
            {
                "fc": "3",
                "addr": "3301",
                "qty": "100",
                "unitid": "1",
                "label": "HR_3301"
            }
        ],
        "x": 690,
        "y": 640,
        "wires": [
            [
                "ae69aa2f.f9c5d8",
                "f3ba7928.c11258"
            ]
        ]
    },
    {
        "id": "2ec866dd.bc2dfa",
        "type": "debug",
        "z": "7324634f.d6ce8c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 640,
        "wires": []
    },
    {
        "id": "ae69aa2f.f9c5d8",
        "type": "function",
        "z": "7324634f.d6ce8c",
        "name": "整理成一個大array",
        "func": "var HRs = [0];\nfor(var k = 0; k <= 6; k++)\n{\n    HRs = HRs.concat(msg.payload[\"HR_0\"+k+\"01\"].results);\n}\nHRs = HRs.concat(new Array(300));\nfor(k = 10; k <= 11; k++)\n{\n    HRs = HRs.concat(msg.payload[\"HR_\"+k+\"01\"].results);\n}\nHRs = HRs.concat(new Array(800));\nfor(k = 20; k <= 22; k++)\n{\n    HRs = HRs.concat(msg.payload[\"HR_\"+k+\"01\"].results);\n}\nHRs = HRs.concat(new Array(700));\nfor(k = 30; k <= 33; k++)\n{\n    HRs = HRs.concat(msg.payload[\"HR_\"+k+\"01\"].results);\n}\n\nmsg.payload = HRs;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 890,
        "y": 640,
        "wires": [
            [
                "1f62b740.6714a9"
            ]
        ]
    },
    {
        "id": "1f62b740.6714a9",
        "type": "function",
        "z": "7324634f.d6ce8c",
        "name": "整理成opcua數值",
        "func": "function toFloat(regs)\n{\n    return new Float32Array(new Uint16Array(regs).buffer)[0];\n}\n\nvar tags = [\"HR_0001\",\"HR_0003\",\"HR_0005\",\"HR_0006\",\"HR_0007\",\"HR_0009\",\"HR_0011\",\"HR_0012\",\"HR_0013\",\"HR_0015\",\"HR_0017\",\"HR_0018\",\"HR_0019\",\"HR_0021\",\"HR_0023\",\"HR_0024\",\"HR_0025\",\"HR_0027\",\"HR_0029\",\"HR_0030\",\"HR_0031\",\"HR_0033\",\"HR_0035\",\"HR_0036\",\"HR_0037\",\"HR_0039\",\"HR_0041\",\"HR_0043\",\"HR_0045\",\"HR_0047\",\"HR_0049\",\"HR_0051\",\"HR_0053\",\"HR_0055\",\"HR_0057\",\"HR_0059\",\"HR_0061\",\"HR_0063\",\"HR_0065\",\"HR_0067\",\"HR_0069\",\"HR_0071\",\"HR_0073\",\"HR_0079\",\"HR_0081\",\"HR_0083\",\"HR_0085\",\"HR_0087\",\"HR_0089\",\"HR_0091\",\"HR_0093\",\"HR_0095\",\"HR_0097\",\"HR_0099\",\"HR_0101\",\"HR_0103\",\"HR_0105\",\"HR_0107\",\"HR_0109\",\"HR_0111\",\"HR_0113\",\"HR_0115\",\"HR_0117\",\"HR_0119\",\"HR_0121\",\"HR_0123\",\"HR_0125\",\"HR_0127\",\"HR_0129\",\"HR_0131\",\"HR_0133\",\"HR_0135\",\"HR_0137\",\"HR_0139\",\"HR_0141\",\"HR_0142\",\"HR_0143\",\"HR_0144\",\"HR_0145\",\"HR_0147\",\"HR_0148\",\"HR_0150\",\"HR_0152\",\"HR_0154\",\"HR_0156\",\"HR_0158\",\"HR_0160\",\"HR_0162\",\"HR_0164\",\"HR_0166\",\"HR_0168\",\"HR_0170\",\"HR_0174\",\"HR_0176\",\"HR_0178\",\"HR_0180\",\"HR_0182\",\"HR_0184\",\"HR_0186\",\"HR_0188\",\"HR_0190\",\"HR_0301\",\"HR_0303\",\"HR_0305\",\"HR_0307\",\"HR_0309\",\"HR_0311\",\"HR_0313\",\"HR_0315\",\"HR_0317\",\"HR_0319\",\"HR_0321\",\"HR_0323\",\"HR_0325\",\"HR_0327\",\"HR_0329\",\"HR_0331\",\"HR_0333\",\"HR_0335\",\"HR_0337\",\"HR_0339\",\"HR_0341\",\"HR_0343\",\"HR_0345\",\"HR_0347\",\"HR_0349\",\"HR_0351\",\"HR_0353\",\"HR_0355\",\"HR_0357\",\"HR_0359\",\"HR_0361\",\"HR_0363\",\"HR_0365\",\"HR_0367\",\"HR_0369\",\"HR_0371\",\"HR_0373\",\"HR_0375\",\"HR_0377\",\"HR_0379\",\"HR_0381\",\"HR_0383\",\"HR_0385\",\"HR_0387\",\"HR_0389\",\"HR_0391\",\"HR_0393\",\"HR_0395\",\"HR_0397\",\"HR_0399\",\"HR_0401\",\"HR_0403\",\"HR_0405\",\"HR_0407\",\"HR_0409\",\"HR_0411\",\"HR_0413\",\"HR_0415\",\"HR_0417\",\"HR_0419\",\"HR_0421\",\"HR_0423\",\"HR_0425\",\"HR_0501\",\"HR_0503\",\"HR_0505\",\"HR_0507\",\"HR_0509\",\"HR_0511\",\"HR_0513\",\"HR_0515\",\"HR_0517\",\"HR_0519\",\"HR_0521\",\"HR_0523\",\"HR_0525\",\"HR_0527\",\"HR_0529\",\"HR_0531\",\"HR_0533\",\"HR_0535\",\"HR_0537\",\"HR_0539\",\"HR_0541\",\"HR_0543\",\"HR_0545\",\"HR_0547\",\"HR_0549\",\"HR_0551\",\"HR_0553\",\"HR_0555\",\"HR_0557\",\"HR_0559\",\"HR_0561\",\"HR_0563\",\"HR_0565\",\"HR_0567\",\"HR_0569\",\"HR_0571\",\"HR_0573\",\"HR_0575\",\"HR_0577\",\"HR_0579\",\"HR_0581\",\"HR_0583\",\"HR_0585\",\"HR_0587\",\"HR_0589\",\"HR_0601\",\"HR_0602\",\"HR_0603\",\"HR_0605\",\"HR_0607\",\"HR_0609\",\"HR_0610\",\"HR_0614\",\"HR_0616\",\"HR_0618\",\"HR_0620\",\"HR_0622\",\"HR_0624\",\"HR_0626\",\"HR_0628\",\"HR_1001\",\"HR_1002\",\"HR_1004\",\"HR_1005\",\"HR_1007\",\"HR_1008\",\"HR_1010\",\"HR_1011\",\"HR_1013\",\"HR_1014\",\"HR_1016\",\"HR_1017\",\"HR_1019\",\"HR_1021\",\"HR_1023\",\"HR_1024\",\"HR_1026\",\"HR_1028\",\"HR_1030\",\"HR_1031\",\"HR_1033\",\"HR_1035\",\"HR_1037\",\"HR_1038\",\"HR_1040\",\"HR_1042\",\"HR_1044\",\"HR_1045\",\"HR_1047\",\"HR_1049\",\"HR_1051\",\"HR_1052\",\"HR_1054\",\"HR_1056\",\"HR_1058\",\"HR_1059\",\"HR_1061\",\"HR_1063\",\"HR_1065\",\"HR_1067\",\"HR_1069\",\"HR_1071\",\"HR_1073\",\"HR_1075\",\"HR_1077\",\"HR_1079\",\"HR_1081\",\"HR_1091\",\"HR_1092\",\"HR_1094\",\"HR_1096\",\"HR_1098\",\"HR_1100\",\"HR_1102\",\"HR_1104\",\"HR_1106\",\"HR_1108\",\"HR_1110\",\"HR_1112\",\"HR_1114\",\"HR_1124\",\"HR_1125\",\"HR_1127\",\"HR_1128\",\"HR_1130\",\"HR_1131\",\"HR_1133\",\"HR_1135\",\"HR_1136\",\"HR_1138\",\"HR_1139\",\"HR_1141\",\"HR_1142\",\"HR_1144\",\"HR_1145\",\"HR_1147\",\"HR_1148\",\"HR_1150\",\"HR_1151\",\"HR_1153\",\"HR_1154\",\"HR_2041\",\"HR_2043\",\"HR_2045\",\"HR_2047\",\"HR_2049\",\"HR_2051\",\"HR_2053\",\"HR_2055\",\"HR_2057\",\"HR_2059\",\"HR_2061\",\"HR_2063\",\"HR_2065\",\"HR_2067\",\"HR_2069\",\"HR_2071\",\"HR_2073\",\"HR_2075\",\"HR_2077\",\"HR_2079\",\"HR_2141\",\"HR_2143\",\"HR_2145\",\"HR_2147\",\"HR_2149\",\"HR_2151\",\"HR_2153\",\"HR_2155\",\"HR_2157\",\"HR_2159\",\"HR_2161\",\"HR_2163\",\"HR_2165\",\"HR_2167\",\"HR_2169\",\"HR_2171\",\"HR_2173\",\"HR_2175\",\"HR_2177\",\"HR_2179\",\"HR_2181\",\"HR_2183\",\"HR_2185\",\"HR_2187\",\"HR_2189\",\"HR_2191\",\"HR_2193\",\"HR_2195\",\"HR_2197\",\"HR_2199\",\"HR_2201\",\"HR_2203\",\"HR_2205\",\"HR_2207\",\"HR_2209\",\"HR_2211\",\"HR_2213\",\"HR_2215\",\"HR_2217\",\"HR_2219\",\"HR_3001\",\"HR_3003\",\"HR_3005\",\"HR_3007\",\"HR_3009\",\"HR_3011\",\"HR_3013\",\"HR_3015\",\"HR_3017\",\"HR_3019\",\"HR_3021\",\"HR_3023\",\"HR_3025\",\"HR_3027\",\"HR_3029\",\"HR_3031\",\"HR_3033\",\"HR_3035\",\"HR_3037\",\"HR_3039\",\"HR_3041\",\"HR_3043\",\"HR_3045\",\"HR_3047\",\"HR_3049\",\"HR_3051\",\"HR_3053\",\"HR_3055\",\"HR_3057\",\"HR_3059\",\"HR_3061\",\"HR_3063\",\"HR_3065\",\"HR_3067\",\"HR_3069\",\"HR_3071\",\"HR_3073\",\"HR_3075\",\"HR_3077\",\"HR_3079\",\"HR_3081\",\"HR_3083\",\"HR_3085\",\"HR_3087\",\"HR_3089\",\"HR_3091\",\"HR_3093\",\"HR_3095\",\"HR_3097\",\"HR_3099\",\"HR_3101\",\"HR_3103\",\"HR_3105\",\"HR_3107\",\"HR_3109\",\"HR_3111\",\"HR_3113\",\"HR_3115\",\"HR_3117\",\"HR_3119\",\"HR_3121\",\"HR_3123\",\"HR_3125\",\"HR_3127\",\"HR_3129\",\"HR_3131\",\"HR_3133\",\"HR_3135\",\"HR_3137\",\"HR_3139\",\"HR_3141\",\"HR_3143\",\"HR_3145\",\"HR_3147\",\"HR_3149\",\"HR_3301\",\"HR_3303\",\"HR_3305\",\"HR_3307\",\"HR_3309\",\"HR_3311\",\"HR_3313\",\"HR_3315\",\"HR_3317\",\"HR_3319\",\"HR_3321\",\"HR_3323\",\"HR_3325\",\"HR_3327\",\"HR_3329\",\"HR_3331\",\"HR_3333\",\"HR_3335\",\"HR_3337\",\"HR_3339\",\"HR_3341\",\"HR_3343\",\"HR_3345\",\"HR_3347\",\"HR_3349\",\"HR_3351\",\"HR_3353\",\"HR_3355\",\"HR_3357\",\"HR_3359\",\"HR_3361\",\"HR_3363\",\"HR_3365\",\"HR_3367\",\"HR_3369\",\"HR_3371\",\"HR_3373\",\"HR_3375\",\"HR_3377\",\"HR_3379\",\"HR_3381\",\"HR_3383\",\"HR_3385\",\"HR_3387\",\"HR_3389\",\"HR_3391\",\"HR_3393\",\"HR_3395\",\"HR_3397\",\"HR_3399\"];\nvar types = [\"Float\",\"Float\",\"UInt16\",\"UInt16\",\"Float\",\"Float\",\"UInt16\",\"UInt16\",\"Float\",\"Float\",\"UInt16\",\"UInt16\",\"Float\",\"Float\",\"UInt16\",\"UInt16\",\"Float\",\"Float\",\"UInt16\",\"UInt16\",\"Float\",\"Float\",\"UInt16\",\"UInt16\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"UInt16\",\"UInt16\",\"UInt16\",\"UInt16\",\"Float\",\"UInt16\",\"Float\",\"Float\",\"Float\",\"UInt16\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"UInt64\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"UInt32\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"UInt16\",\"UInt16\",\"Float\",\"Float\",\"Float\",\"UInt16\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"UInt16\",\"Float\",\"UInt16\",\"Float\",\"UInt16\",\"Float\",\"UInt16\",\"Float\",\"UInt16\",\"Float\",\"UInt16\",\"Float\",\"Float\",\"Float\",\"UInt16\",\"Float\",\"Float\",\"Float\",\"UInt16\",\"Float\",\"Float\",\"Float\",\"UInt16\",\"Float\",\"Float\",\"Float\",\"UInt16\",\"Float\",\"Float\",\"Float\",\"UInt16\",\"Float\",\"Float\",\"Float\",\"UInt16\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"UInt16\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"UInt16\",\"Float\",\"UInt16\",\"Float\",\"UInt16\",\"Float\",\"Float\",\"UInt16\",\"Float\",\"UInt16\",\"Float\",\"UInt16\",\"Float\",\"UInt16\",\"Float\",\"UInt16\",\"Float\",\"UInt16\",\"Float\",\"UInt16\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\",\"Float\"];\n\nvar HRs = msg.payload;\nmsg.payload = {};\nvar idx = 0, num = 0;\nfor(var i = 0; i < tags.length; i++)\n{\n    idx = parseInt(tags[i].slice(3));\n    switch(types[i])\n    {\n        case \"Float\":\n            num = toFloat([HRs[idx], HRs[idx+1]]);\n            break;\n        case \"UInt16\":\n            num = HRs[idx];\n            break;\n        case \"UInt32\":\n            num = HRs[idx] + HRs[idx+1] *65536;\n            break;\n        case \"UInt64\":\n            num = HRs[idx] + HRs[idx+1] *65536 + HRs[idx+2]*65536*65536 + HRs[idx+3]*65536*65536*65536;\n            break;\n    }\n    msg.payload[tags[i]] = num;\n    //msg.payload[\"re1_\" + tags[i]] = num;\n    //msg.payload[\"re2_\" + tags[i]] = num;\n}\nmsg.topic = \"write\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1110,
        "y": 640,
        "wires": [
            [
                "2ec866dd.bc2dfa",
                "c2d65694.1b0cb8"
            ]
        ]
    },
    {
        "id": "f3ba7928.c11258",
        "type": "debug",
        "z": "7324634f.d6ce8c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 700,
        "wires": []
    },
    {
        "id": "c2d65694.1b0cb8",
        "type": "json",
        "z": "7324634f.d6ce8c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1200,
        "y": 720,
        "wires": [
            [
                "8f32257d.2cf258",
                "fe411f80.77ef"
            ]
        ]
    },
    {
        "id": "8f32257d.2cf258",
        "type": "debug",
        "z": "7324634f.d6ce8c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1350,
        "y": 720,
        "wires": []
    },
    {
        "id": "b1483df9.a7894",
        "type": "websocket in",
        "z": "7324634f.d6ce8c",
        "name": "",
        "server": "b1ba5457.021e58",
        "client": "",
        "x": 690,
        "y": 840,
        "wires": [
            [
                "7816a66e.c730a8"
            ]
        ]
    },
    {
        "id": "fe411f80.77ef",
        "type": "websocket out",
        "z": "7324634f.d6ce8c",
        "name": "",
        "server": "b1ba5457.021e58",
        "client": "",
        "x": 1290,
        "y": 920,
        "wires": []
    },
    {
        "id": "7816a66e.c730a8",
        "type": "debug",
        "z": "7324634f.d6ce8c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 840,
        "wires": []
    },
    {
        "id": "273aa343.b3788c",
        "type": "debug",
        "z": "7324634f.d6ce8c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 1000,
        "wires": []
    },
    {
        "id": "4fea2822.3c1af8",
        "type": "inject",
        "z": "7324634f.d6ce8c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 710,
        "y": 920,
        "wires": [
            [
                "fd2b272b.fa0538"
            ]
        ]
    },
    {
        "id": "fd2b272b.fa0538",
        "type": "function",
        "z": "7324634f.d6ce8c",
        "name": "",
        "func": "msg.payload = \"隨機數值：\" + Math.floor(Math.random()*100);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 940,
        "y": 920,
        "wires": [
            [
                "fe411f80.77ef",
                "273aa343.b3788c"
            ]
        ]
    },
    {
        "id": "74821030.a1418",
        "type": "status",
        "z": "7324634f.d6ce8c",
        "name": "檢查ws有無連結(開關modbus讀取用)",
        "scope": [
            "b1483df9.a7894"
        ],
        "x": 180,
        "y": 500,
        "wires": [
            [
                "443e9028.26619"
            ]
        ]
    },
    {
        "id": "5f6b2171.5f6ec",
        "type": "inject",
        "z": "7324634f.d6ce8c",
        "name": "cyclic timer",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "enabled",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 640,
        "wires": [
            [
                "cbce912c.946b4"
            ]
        ]
    },
    {
        "id": "cbce912c.946b4",
        "type": "function",
        "z": "7324634f.d6ce8c",
        "name": "Function Switch",
        "func": "var sw = context.get(\"sw\") | false;\n\nif(msg.sw !== undefined)\n{\n    sw = msg.sw;\n    context.set(\"sw\", sw);\n    return null;\n}\nelse\n{\n    if(sw)\n    {\n        return msg;\n    }\n    else\n    {\n        return null;\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 640,
        "wires": [
            [
                "e01b81ff.ad204"
            ]
        ]
    },
    {
        "id": "e561736.d983f9",
        "type": "inject",
        "z": "7324634f.d6ce8c",
        "name": "just injection 2",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 760,
        "wires": [
            [
                "861ff8c1.a85c38"
            ]
        ]
    },
    {
        "id": "e1486249.bfc4d",
        "type": "inject",
        "z": "7324634f.d6ce8c",
        "name": "just injection 1",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 720,
        "wires": [
            [
                "7c0d7d2.b5e9584"
            ]
        ]
    },
    {
        "id": "7c0d7d2.b5e9584",
        "type": "function",
        "z": "7324634f.d6ce8c",
        "name": "switch on",
        "func": "msg.sw = true;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 720,
        "wires": [
            [
                "cbce912c.946b4"
            ]
        ]
    },
    {
        "id": "861ff8c1.a85c38",
        "type": "function",
        "z": "7324634f.d6ce8c",
        "name": "switch off",
        "func": "msg.sw = false;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 760,
        "wires": [
            [
                "cbce912c.946b4"
            ]
        ]
    },
    {
        "id": "443e9028.26619",
        "type": "switch",
        "z": "7324634f.d6ce8c",
        "name": "",
        "property": "status.fill",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "green",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "red",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 210,
        "y": 560,
        "wires": [
            [
                "7c0d7d2.b5e9584",
                "b5234bfc.038708"
            ],
            [
                "861ff8c1.a85c38",
                "83e2e7b6.e854d8"
            ]
        ]
    },
    {
        "id": "b5234bfc.038708",
        "type": "debug",
        "z": "7324634f.d6ce8c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 520,
        "wires": []
    },
    {
        "id": "83e2e7b6.e854d8",
        "type": "debug",
        "z": "7324634f.d6ce8c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 560,
        "wires": []
    },
    {
        "id": "e01b81ff.ad204",
        "type": "function",
        "z": "7324634f.d6ce8c",
        "name": "Offline Data",
        "func": "msg.payload = '{\"HR_0001\":26.84000015258789,\"HR_0003\":51,\"HR_0005\":457,\"HR_0006\":30,\"HR_0007\":26.540000915527344,\"HR_0009\":56.31999969482422,\"HR_0011\":510,\"HR_0012\":32,\"HR_0013\":25.709999084472656,\"HR_0015\":55.959999084472656,\"HR_0017\":560,\"HR_0018\":7,\"HR_0019\":25.459999084472656,\"HR_0021\":55.68000030517578,\"HR_0023\":551,\"HR_0024\":6,\"HR_0025\":26.09000015258789,\"HR_0027\":57.290000915527344,\"HR_0029\":536,\"HR_0030\":6,\"HR_0031\":24.25,\"HR_0033\":62.790000915527344,\"HR_0035\":536,\"HR_0036\":4,\"HR_0037\":0,\"HR_0039\":23.43000030517578,\"HR_0041\":61.43000030517578,\"HR_0043\":22.670000076293945,\"HR_0045\":60.40999984741211,\"HR_0047\":24.280000686645508,\"HR_0049\":58.52000045776367,\"HR_0051\":22.719999313354492,\"HR_0053\":63.779998779296875,\"HR_0055\":22.899999618530273,\"HR_0057\":63.31999969482422,\"HR_0059\":22.959999084472656,\"HR_0061\":63.16999816894531,\"HR_0063\":23.100000381469727,\"HR_0065\":59.68000030517578,\"HR_0067\":23.709999084472656,\"HR_0069\":58.70000076293945,\"HR_0071\":22.5,\"HR_0073\":62.029998779296875,\"HR_0079\":22.670000076293945,\"HR_0081\":55.790000915527344,\"HR_0083\":21.299999237060547,\"HR_0085\":62,\"HR_0087\":23.299999237060547,\"HR_0089\":61.83000183105469,\"HR_0091\":24.219999313354492,\"HR_0093\":61.06999969482422,\"HR_0095\":24.469999313354492,\"HR_0097\":62.08000183105469,\"HR_0099\":24.75,\"HR_0101\":58.90999984741211,\"HR_0103\":23.479999542236328,\"HR_0105\":61.650001525878906,\"HR_0107\":24.420000076293945,\"HR_0109\":58.68000030517578,\"HR_0111\":31.68000030517578,\"HR_0113\":32.45000076293945,\"HR_0115\":41.00440979003906,\"HR_0117\":26.927993774414062,\"HR_0119\":38.900001525878906,\"HR_0121\":28,\"HR_0123\":36.29999923706055,\"HR_0125\":32,\"HR_0127\":36.403343200683594,\"HR_0129\":33.3215446472168,\"HR_0131\":36.20000076293945,\"HR_0133\":36.900001525878906,\"HR_0135\":35.70000076293945,\"HR_0137\":36.400001525878906,\"HR_0139\":38.099998474121094,\"HR_0141\":126,\"HR_0142\":60,\"HR_0143\":120,\"HR_0144\":80,\"HR_0145\":6.900000095367432,\"HR_0147\":29,\"HR_0148\":6.900000095367432,\"HR_0150\":6.800000190734863,\"HR_0152\":-29.899999618530273,\"HR_0154\":0,\"HR_0156\":25.700000762939453,\"HR_0158\":3.799999952316284,\"HR_0160\":25.600000381469727,\"HR_0162\":11.5,\"HR_0164\":23.700000762939453,\"HR_0166\":51.70000076293945,\"HR_0168\":6.757823467254639,\"HR_0170\":129619,\"HR_0174\":18.12687873840332,\"HR_0176\":12.676773071289062,\"HR_0178\":11.011009216308594,\"HR_0180\":866.5753173828125,\"HR_0182\":11.600000381469727,\"HR_0184\":13.5,\"HR_0186\":2.6764800668604006e-43,\"HR_0188\":5478283,\"HR_0190\":421.78045654296875,\"HR_0301\":39.01222229003906,\"HR_0303\":91.96273803710938,\"HR_0305\":881591.8125,\"HR_0307\":72264.359375,\"HR_0309\":388929.28125,\"HR_0311\":351737.75,\"HR_0313\":72264.359375,\"HR_0315\":388627.53125,\"HR_0317\":351498.15625,\"HR_0319\":0,\"HR_0321\":-96.79173278808594,\"HR_0323\":195475.671875,\"HR_0325\":16299.3896484375,\"HR_0327\":90064.3828125,\"HR_0329\":73509.8359375,\"HR_0331\":16299.3896484375,\"HR_0333\":90001.09375,\"HR_0335\":73471.421875,\"HR_0337\":0,\"HR_0339\":0,\"HR_0341\":4011.593994140625,\"HR_0343\":708.3662719726562,\"HR_0345\":2409.4580078125,\"HR_0347\":707.1477661132812,\"HR_0349\":708.3662719726562,\"HR_0351\":2408.37451171875,\"HR_0353\":707.0149536132812,\"HR_0355\":192.17893981933594,\"HR_0357\":96.70307922363281,\"HR_0359\":4365778,\"HR_0361\":458539.78125,\"HR_0363\":2197393,\"HR_0365\":1430322.25,\"HR_0367\":458539.78125,\"HR_0369\":2195702,\"HR_0371\":1429429,\"HR_0373\":212460.890625,\"HR_0375\":1392.0438232421875,\"HR_0377\":0.7702958583831787,\"HR_0379\":669154.125,\"HR_0381\":93572.6484375,\"HR_0383\":319121.71875,\"HR_0385\":212565.515625,\"HR_0387\":93572.6484375,\"HR_0389\":318967.34375,\"HR_0391\":81.3099136352539,\"HR_0393\":89.64273071289062,\"HR_0395\":1704372,\"HR_0397\":166767.6875,\"HR_0399\":835073.625,\"HR_0401\":605284.375,\"HR_0403\":166767.6875,\"HR_0405\":834409.375,\"HR_0407\":604736.25,\"HR_0409\":153686.453125,\"HR_0411\":1949.0467529296875,\"HR_0413\":0.629595935344696,\"HR_0415\":811442.75,\"HR_0417\":144292.546875,\"HR_0419\":444204.125,\"HR_0421\":153686.453125,\"HR_0423\":144292.546875,\"HR_0425\":443997.71875,\"HR_0501\":228.39999389648438,\"HR_0503\":50.3849983215332,\"HR_0505\":78.80000305175781,\"HR_0507\":17.616600036621094,\"HR_0509\":667837.0625,\"HR_0511\":228.1699981689453,\"HR_0513\":27.833999633789062,\"HR_0515\":-88.19999694824219,\"HR_0517\":10.507100105285645,\"HR_0519\":408270.59375,\"HR_0521\":228.4199981689453,\"HR_0523\":42.608001708984375,\"HR_0525\":74.80000305175781,\"HR_0527\":22.05229949951172,\"HR_0529\":514811.03125,\"HR_0531\":229.1199951171875,\"HR_0533\":53.57500076293945,\"HR_0535\":99.5,\"HR_0537\":80.31420135498047,\"HR_0539\":1186385.5,\"HR_0541\":128.47000122070312,\"HR_0543\":34.40599822998047,\"HR_0545\":-87.69999694824219,\"HR_0547\":5.0854997634887695,\"HR_0549\":176143.84375,\"HR_0551\":223.3699951171875,\"HR_0553\":27.958999633789062,\"HR_0555\":92.5999984741211,\"HR_0557\":10.704999923706055,\"HR_0559\":420953.71875,\"HR_0561\":223.88999938964844,\"HR_0563\":15.869000434875488,\"HR_0565\":-87.5999984741211,\"HR_0567\":15.715100288391113,\"HR_0569\":363604.25,\"HR_0571\":223.77999877929688,\"HR_0573\":5.585000038146973,\"HR_0575\":83.9000015258789,\"HR_0577\":-2.354599952697754,\"HR_0579\":11052.310546875,\"HR_0581\":228.16000366210938,\"HR_0583\":15.498000144958496,\"HR_0585\":99.9000015258789,\"HR_0587\":3.786900043487549,\"HR_0589\":161037.890625,\"HR_0601\":2,\"HR_0602\":2,\"HR_0603\":5.699999809265137,\"HR_0605\":7.599999904632568,\"HR_0607\":28,\"HR_0609\":2,\"HR_0610\":57.592594146728516,\"HR_0614\":26.438264846801758,\"HR_0616\":50.169925689697266,\"HR_0618\":26.22316551208496,\"HR_0620\":40.194297790527344,\"HR_0622\":22.911914825439453,\"HR_0624\":70.38511657714844,\"HR_0626\":21.576126098632812,\"HR_0628\":84.76676940917969,\"HR_1001\":1,\"HR_1002\":16.825223922729492,\"HR_1004\":2,\"HR_1005\":18.592008590698242,\"HR_1007\":2,\"HR_1008\":72.60124969482422,\"HR_1010\":1,\"HR_1011\":48.96683120727539,\"HR_1013\":1,\"HR_1014\":20.25006866455078,\"HR_1016\":2,\"HR_1017\":72.00590515136719,\"HR_1019\":0.10721474885940552,\"HR_1021\":76.9000015258789,\"HR_1023\":2,\"HR_1024\":41.52005386352539,\"HR_1026\":0.04890374094247818,\"HR_1028\":76.9000015258789,\"HR_1030\":2,\"HR_1031\":87.81090545654297,\"HR_1033\":0.06501679867506027,\"HR_1035\":86.0999984741211,\"HR_1037\":2,\"HR_1038\":84.87590026855469,\"HR_1040\":0.07502609491348267,\"HR_1042\":86.0999984741211,\"HR_1044\":2,\"HR_1045\":77.24456024169922,\"HR_1047\":0.07175640016794205,\"HR_1049\":86.0999984741211,\"HR_1051\":2,\"HR_1052\":54.13671112060547,\"HR_1054\":0.09833350777626038,\"HR_1056\":86.0999984741211,\"HR_1058\":3,\"HR_1059\":137.39999389648438,\"HR_1061\":184.8000030517578,\"HR_1063\":180.39999389648438,\"HR_1065\":177.89999389648438,\"HR_1067\":189.89999389648438,\"HR_1069\":196.10000610351562,\"HR_1071\":215.3000030517578,\"HR_1073\":239.5,\"HR_1075\":242,\"HR_1077\":249,\"HR_1079\":57.900001525878906,\"HR_1081\":33.599998474121094,\"HR_1091\":2,\"HR_1092\":135.10000610351562,\"HR_1094\":166.3000030517578,\"HR_1096\":171.3000030517578,\"HR_1098\":178,\"HR_1100\":191.5,\"HR_1102\":206.39999389648438,\"HR_1104\":217.89999389648438,\"HR_1106\":240.39999389648438,\"HR_1108\":244.89999389648438,\"HR_1110\":246.10000610351562,\"HR_1112\":70.19999694824219,\"HR_1114\":42,\"HR_1124\":2,\"HR_1125\":98.29000091552734,\"HR_1127\":1,\"HR_1128\":98.55000305175781,\"HR_1130\":0,\"HR_1131\":0,\"HR_1133\":0.011022830381989479,\"HR_1135\":2,\"HR_1136\":94.89364624023438,\"HR_1138\":7,\"HR_1139\":99.91845703125,\"HR_1141\":2,\"HR_1142\":98.08564758300781,\"HR_1144\":2,\"HR_1145\":null,\"HR_1147\":2,\"HR_1148\":99.80555725097656,\"HR_1150\":2,\"HR_1151\":26,\"HR_1153\":2,\"HR_1154\":46.099483489990234,\"HR_2041\":0.12877576053142548,\"HR_2043\":0.16648568212985992,\"HR_2045\":0.012567063793540001,\"HR_2047\":0.01217124704271555,\"HR_2049\":0.008416431024670601,\"HR_2051\":0.1874079704284668,\"HR_2053\":0.22625240683555603,\"HR_2055\":0.013567059300839901,\"HR_2057\":0.012920216657221317,\"HR_2059\":0.009093262255191803,\"HR_2061\":4.804795265197754,\"HR_2063\":4.490062713623047,\"HR_2065\":0.540536105632782,\"HR_2067\":0.7307643890380859,\"HR_2069\":0.39875075221061707,\"HR_2071\":4.752377986907959,\"HR_2073\":4.651865005493164,\"HR_2075\":0.5066899657249451,\"HR_2077\":0.55042564868927,\"HR_2079\":0.6911600232124329,\"HR_2141\":1.4281052350997925,\"HR_2143\":0.6562404632568359,\"HR_2145\":0.2627544105052948,\"HR_2147\":0.6998627185821533,\"HR_2149\":0.1997385323047638,\"HR_2151\":1.2914628982543945,\"HR_2153\":1.0793858766555786,\"HR_2155\":0.1492653489112854,\"HR_2157\":0.7131970524787903,\"HR_2159\":0.12825211882591248,\"HR_2161\":0.599391758441925,\"HR_2163\":0.010646334849298,\"HR_2165\":0.0074249315075576305,\"HR_2167\":0.04044623672962189,\"HR_2169\":0.012649701908230782,\"HR_2171\":0.18607491254806519,\"HR_2173\":0.016395069658756256,\"HR_2175\":0.003284455742686987,\"HR_2177\":0.028950396925210953,\"HR_2179\":0.008994616568088531,\"HR_2181\":0.10685300827026367,\"HR_2183\":0.08162426203489304,\"HR_2185\":0.029378868639469147,\"HR_2187\":0.014411875046789646,\"HR_2189\":0.008258534595370293,\"HR_2191\":0.40880492329597473,\"HR_2193\":0.3757806122303009,\"HR_2195\":0.12220969051122665,\"HR_2197\":0.04203037917613983,\"HR_2199\":0.02343382127583027,\"HR_2201\":1.1863917112350464,\"HR_2203\":0.47976163029670715,\"HR_2205\":0.3501183092594147,\"HR_2207\":1.006242036819458,\"HR_2209\":0.32228896021842957,\"HR_2211\":3.7472469806671143,\"HR_2213\":0.30646389722824097,\"HR_2215\":0.22058115899562836,\"HR_2217\":3.7413716316223145,\"HR_2219\":0.1711234599351883,\"HR_3001\":24.6200008392334,\"HR_3003\":46.790000915527344,\"HR_3005\":499,\"HR_3007\":4,\"HR_3009\":24.299999237060547,\"HR_3011\":60.599998474121094,\"HR_3013\":23.979999542236328,\"HR_3015\":53.52000045776367,\"HR_3017\":23.190000534057617,\"HR_3019\":59.290000915527344,\"HR_3021\":22.790000915527344,\"HR_3023\":53.540000915527344,\"HR_3025\":22.65999984741211,\"HR_3027\":57.279998779296875,\"HR_3029\":21.40999984741211,\"HR_3031\":58.790000915527344,\"HR_3033\":22.559999465942383,\"HR_3035\":55.81999969482422,\"HR_3037\":21.950000762939453,\"HR_3039\":55.31999969482422,\"HR_3041\":58.79999923706055,\"HR_3043\":126,\"HR_3045\":63.400001525878906,\"HR_3047\":1159,\"HR_3049\":7,\"HR_3051\":24.59000015258789,\"HR_3053\":65.72000122070312,\"HR_3055\":25.600000381469727,\"HR_3057\":61.470001220703125,\"HR_3059\":23.68000030517578,\"HR_3061\":61.220001220703125,\"HR_3063\":22.600000381469727,\"HR_3065\":56.9900016784668,\"HR_3067\":22.829999923706055,\"HR_3069\":65.12000274658203,\"HR_3071\":100,\"HR_3073\":12,\"HR_3075\":23.229999542236328,\"HR_3077\":53.540000915527344,\"HR_3079\":23.040000915527344,\"HR_3081\":48.439998626708984,\"HR_3083\":955,\"HR_3085\":1,\"HR_3087\":23.719999313354492,\"HR_3089\":23.850000381469727,\"HR_3091\":55.790000915527344,\"HR_3093\":725,\"HR_3095\":2,\"HR_3097\":23.989999771118164,\"HR_3099\":44.7599983215332,\"HR_3101\":1,\"HR_3103\":27.770000457763672,\"HR_3105\":54.869998931884766,\"HR_3107\":456,\"HR_3109\":5,\"HR_3111\":1.843646350558232e-40,\"HR_3113\":27.450000762939453,\"HR_3115\":26.700000762939453,\"HR_3117\":65.88999938964844,\"HR_3119\":-0.008124999701976776,\"HR_3121\":-0.02187499962747097,\"HR_3123\":26.200000762939453,\"HR_3125\":25.887500762939453,\"HR_3127\":5.380624771118164,\"HR_3129\":66.19999694824219,\"HR_3131\":29.799999237060547,\"HR_3133\":29.700000762939453,\"HR_3135\":29.799999237060547,\"HR_3137\":27.200000762939453,\"HR_3139\":27.899999618530273,\"HR_3141\":38,\"HR_3143\":38,\"HR_3145\":38,\"HR_3147\":42,\"HR_3149\":41,\"HR_3301\":396.1000061035156,\"HR_3303\":15.920000076293945,\"HR_3305\":-66.9000015258789,\"HR_3307\":7.300000190734863,\"HR_3309\":291020.09375,\"HR_3311\":396.20001220703125,\"HR_3313\":24.700000762939453,\"HR_3315\":-70.5,\"HR_3317\":12,\"HR_3319\":32826.19921875,\"HR_3321\":393.29998779296875,\"HR_3323\":77.80000305175781,\"HR_3325\":92.4000015258789,\"HR_3327\":49,\"HR_3329\":225169.5,\"HR_3331\":393.29998779296875,\"HR_3333\":78.4000015258789,\"HR_3335\":94.30000305175781,\"HR_3337\":50,\"HR_3339\":137338.203125,\"HR_3341\":394.20001220703125,\"HR_3343\":43.5,\"HR_3345\":96.5999984741211,\"HR_3347\":29,\"HR_3349\":81788.203125,\"HR_3351\":394,\"HR_3353\":41.099998474121094,\"HR_3355\":96.4000015258789,\"HR_3357\":27,\"HR_3359\":48449.6015625,\"HR_3361\":395.70001220703125,\"HR_3363\":24.600000381469727,\"HR_3365\":-58.79999923706055,\"HR_3367\":10,\"HR_3369\":27481.900390625,\"HR_3371\":24.239999771118164,\"HR_3373\":65.2300033569336,\"HR_3375\":0,\"HR_3377\":0,\"HR_3379\":23.049999237060547,\"HR_3381\":55.689998626708984,\"HR_3383\":22.18000030517578,\"HR_3385\":65.08000183105469,\"HR_3387\":23.719999313354492,\"HR_3389\":69.81999969482422,\"HR_3391\":25.65999984741211,\"HR_3393\":64.83999633789062,\"HR_3395\":26.079999923706055,\"HR_3397\":64.9800033569336,\"HR_3399\":26.760000228881836}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 580,
        "wires": [
            [
                "fe411f80.77ef"
            ]
        ]
    },
    {
        "id": "5c5132bc.fbaf6c",
        "type": "NexModbus-client",
        "z": "",
        "name": "10.12.1.221",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "tcpHost": "10.12.1.221",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyS0",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectTimeout": 2000
    },
    {
        "id": "b1ba5457.021e58",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/data",
        "wholemsg": "false"
    }
]